.header{
  text-align: center;
  margin-top: 25px;
  font-size: 2rem;
  
}
.footer {
  padding: 20px 0;
  background-color: #f8f9fa; /* Color de fondo claro */
  position: fixed;
  bottom: 0;
  width: 100%;
}
